body {
    background: #000;
    image-rendering: pixelated;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.px32 {
    zoom: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: hidden;
    width: 32px;
    height: 32px;
    position: relative;
    font-size: 4px;
    font-family: 'MiniPixel';
    font-weight: normal;
    font-style: normal;
}

.px32-footer:hover {
    position: absolute;
    bottom: 0;
    width: 31px;
    padding-right: 1px;
}

#zoomsw {
    font-size: 2em;
    cursor: pointer;
}