.ps-a {position: absolute;}
.ps-r {position: relative;}
.ps-f {position: fixed;}

.t0 {top: 0px;}
.t1 {top: 1px;}
.t2 {top: 2px;}
.t3 {top: 3px;}
.t4 {top: 4px;}
.t5 {top: 5px;}
.t6 {top: 6px;}
.t7 {top: 7px;}
.t8 {top: 8px;}
.t9 {top: 9px;}
.t10 {top: 10px;}
.t11 {top: 11px;}
.t12 {top: 12px;}
.t13 {top: 13px;}
.t14 {top: 14px;}
.t15 {top: 15px;}
.t16 {top: 16px;}
.t17 {top: 17px;}
.t18 {top: 18px;}
.t19 {top: 19px;}
.t20 {top: 20px;}
.t21 {top: 21px;}
.t22 {top: 22px;}
.t23 {top: 23px;}
.t24 {top: 24px;}
.t25 {top: 25px;}
.t26 {top: 26px;}
.t27 {top: 27px;}
.t28 {top: 28px;}
.t29 {top: 29px;}
.t30 {top: 30px;}
.t31 {top: 31px;}
.t32 {top: 32px;}

.b0 {bottom: 0px;}
.b1 {bottom: 1px;}
.b2 {bottom: 2px;}
.b3 {bottom: 3px;}
.b4 {bottom: 4px;}
.b5 {bottom: 5px;}
.b6 {bottom: 6px;}
.b7 {bottom: 7px;}
.b8 {bottom: 8px;}
.b9 {bottom: 9px;}
.b10 {bottom: 10px;}
.b11 {bottom: 11px;}
.b12 {bottom: 12px;}
.b13 {bottom: 13px;}
.b14 {bottom: 14px;}
.b15 {bottom: 15px;}
.b16 {bottom: 16px;}
.b17 {bottom: 17px;}
.b18 {bottom: 18px;}
.b19 {bottom: 19px;}
.b20 {bottom: 20px;}
.b21 {bottom: 21px;}
.b22 {bottom: 22px;}
.b23 {bottom: 23px;}
.b24 {bottom: 24px;}
.b25 {bottom: 25px;}
.b26 {bottom: 26px;}
.b27 {bottom: 27px;}
.b28 {bottom: 28px;}
.b29 {bottom: 29px;}
.b30 {bottom: 30px;}
.b31 {bottom: 31px;}
.b32 {bottom: 32px;}

.r0 {right: 0px;}
.r1 {right: 1px;}
.r2 {right: 2px;}
.r3 {right: 3px;}
.r4 {right: 4px;}
.r5 {right: 5px;}
.r6 {right: 6px;}
.r7 {right: 7px;}
.r8 {right: 8px;}
.r9 {right: 9px;}
.r10 {right: 10px;}
.r11 {right: 11px;}
.r12 {right: 12px;}
.r13 {right: 13px;}
.r14 {right: 14px;}
.r15 {right: 15px;}
.r16 {right: 16px;}
.r17 {right: 17px;}
.r18 {right: 18px;}
.r19 {right: 19px;}
.r20 {right: 20px;}
.r21 {right: 21px;}
.r22 {right: 22px;}
.r23 {right: 23px;}
.r24 {right: 24px;}
.r25 {right: 25px;}
.r26 {right: 26px;}
.r27 {right: 27px;}
.r28 {right: 28px;}
.r29 {right: 29px;}
.r30 {right: 30px;}
.r31 {right: 31px;}
.r32 {right: 32px;}

.l0 {left: 0px;}
.l1 {left: 1px;}
.l2 {left: 2px;}
.l3 {left: 3px;}
.l4 {left: 4px;}
.l5 {left: 5px;}
.l6 {left: 6px;}
.l7 {left: 7px;}
.l8 {left: 8px;}
.l9 {left: 9px;}
.l10 {left: 10px;}
.l11 {left: 11px;}
.l12 {left: 12px;}
.l13 {left: 13px;}
.l14 {left: 14px;}
.l15 {left: 15px;}
.l16 {left: 16px;}
.l17 {left: 17px;}
.l18 {left: 18px;}
.l19 {left: 19px;}
.l20 {left: 20px;}
.l21 {left: 21px;}
.l22 {left: 22px;}
.l23 {left: 23px;}
.l24 {left: 24px;}
.l25 {left: 25px;}
.l26 {left: 26px;}
.l27 {left: 27px;}
.l28 {left: 28px;}
.l29 {left: 29px;}
.l30 {left: 30px;}
.l31 {left: 31px;}
.l32 {left: 32px;}