
.bg-y  { background-color: #edd400; }
.bg-yb { background-color: #fce94f; }
.bg-yd { background-color: #c4a000; }
.bg-g  { background-color: #73d216; }
.bg-gb { background-color: #8ae234; }
.bg-gd { background-color: #4e9a06; }
.bg-o  { background-color: #f57900; }
.bg-ob { background-color: #fcaf3e; }
.bg-od { background-color: #ce5c00; }
.bg-b  { background-color: #3465a4; }
.bg-bb { background-color: #729fcf; }
.bg-bd { background-color: #204a87; }
.bg-p  { background-color: #75507b; }
.bg-pb { background-color: #ad7fa8; }
.bg-pd { background-color: #5c3566; }
.bg-c  { background-color: #c17d11; }
.bg-cb { background-color: #e9b96e; }
.bg-cd { background-color: #8f5902; }
.bg-r  { background-color: #cc0000; }
.bg-rb { background-color: #ef2929; }
.bg-rd { background-color: #a40000; }
.bg-w  { background-color: #d3d7cf; }
.bg-wb { background-color: #eeeeec; }
.bg-wd { background-color: #babdb6; }
.bg-k  { background-color: #555753; }
.bg-kb { background-color: #888a85; }
.bg-kd { background-color: #2e3436; }

.c-y  { color: #edd400; }
.c-yb { color: #fce94f; }
.c-yd { color: #c4a000; }
.c-g  { color: #73d216; }
.c-gb { color: #8ae234; }
.c-gd { color: #4e9a06; }
.c-o  { color: #f57900; }
.c-ob { color: #fcaf3e; }
.c-od { color: #ce5c00; }
.c-b  { color: #3465a4; }
.c-bb { color: #729fcf; }
.c-bd { color: #204a87; }
.c-p  { color: #75507b; }
.c-pb { color: #ad7fa8; }
.c-pd { color: #5c3566; }
.c-c  { color: #c17d11; }
.c-cb { color: #e9b96e; }
.c-cd { color: #8f5902; }
.c-r  { color: #cc0000; }
.c-rb { color: #ef2929; }
.c-rd { color: #a40000; }
.c-w  { color: #d3d7cf; }
.c-wb { color: #eeeeec; }
.c-wd { color: #babdb6; }
.c-k  { color: #555753; }
.c-kb { color: #888a85; }
.c-kd { color: #2e3436; }

.bc-y  { border-color: #edd400; }
.bc-yb { border-color: #fce94f; }
.bc-yd { border-color: #c4a000; }
.bc-g  { border-color: #73d216; }
.bc-gb { border-color: #8ae234; }
.bc-gd { border-color: #4e9a06; }
.bc-o  { border-color: #f57900; }
.bc-ob { border-color: #fcaf3e; }
.bc-od { border-color: #ce5c00; }
.bc-b  { border-color: #3465a4; }
.bc-bb { border-color: #729fcf; }
.bc-bd { border-color: #204a87; }
.bc-p  { border-color: #75507b; }
.bc-pb { border-color: #ad7fa8; }
.bc-pd { border-color: #5c3566; }
.bc-c  { border-color: #c17d11; }
.bc-cb { border-color: #e9b96e; }
.bc-cd { border-color: #8f5902; }
.bc-r  { border-color: #cc0000; }
.bc-rb { border-color: #ef2929; }
.bc-rd { border-color: #a40000; }
.bc-w  { border-color: #d3d7cf; }
.bc-wb { border-color: #eeeeec; }
.bc-wd { border-color: #babdb6; }
.bc-k  { border-color: #555753; }
.bc-kb { border-color: #888a85; }
.bc-kd { border-color: #2e3436; }



:hover.hvr-bg-y  { background-color: #edd400; }
:hover.hvr-bg-yb { background-color: #fce94f; }
:hover.hvr-bg-yd { background-color: #c4a000; }
:hover.hvr-bg-g  { background-color: #73d216; }
:hover.hvr-bg-gb { background-color: #8ae234; }
:hover.hvr-bg-gd { background-color: #4e9a06; }
:hover.hvr-bg-o  { background-color: #f57900; }
:hover.hvr-bg-ob { background-color: #fcaf3e; }
:hover.hvr-bg-od { background-color: #ce5c00; }
:hover.hvr-bg-b  { background-color: #3465a4; }
:hover.hvr-bg-bb { background-color: #729fcf; }
:hover.hvr-bg-bd { background-color: #204a87; }
:hover.hvr-bg-p  { background-color: #75507b; }
:hover.hvr-bg-pb { background-color: #ad7fa8; }
:hover.hvr-bg-pd { background-color: #5c3566; }
:hover.hvr-bg-c  { background-color: #c17d11; }
:hover.hvr-bg-cb { background-color: #e9b96e; }
:hover.hvr-bg-cd { background-color: #8f5902; }
:hover.hvr-bg-r  { background-color: #cc0000; }
:hover.hvr-bg-rb { background-color: #ef2929; }
:hover.hvr-bg-rd { background-color: #a40000; }
:hover.hvr-bg-w  { background-color: #d3d7cf; }
:hover.hvr-bg-wb { background-color: #eeeeec; }
:hover.hvr-bg-wd { background-color: #babdb6; }
:hover.hvr-bg-k  { background-color: #555753; }
:hover.hvr-bg-kb { background-color: #888a85; }
:hover.hvr-bg-kd { background-color: #2e3436; }

:hover.hvr-c-y  { color: #edd400; }
:hover.hvr-c-yb { color: #fce94f; }
:hover.hvr-c-yd { color: #c4a000; }
:hover.hvr-c-g  { color: #73d216; }
:hover.hvr-c-gb { color: #8ae234; }
:hover.hvr-c-gd { color: #4e9a06; }
:hover.hvr-c-o  { color: #f57900; }
:hover.hvr-c-ob { color: #fcaf3e; }
:hover.hvr-c-od { color: #ce5c00; }
:hover.hvr-c-b  { color: #3465a4; }
:hover.hvr-c-bb { color: #729fcf; }
:hover.hvr-c-bd { color: #204a87; }
:hover.hvr-c-p  { color: #75507b; }
:hover.hvr-c-pb { color: #ad7fa8; }
:hover.hvr-c-pd { color: #5c3566; }
:hover.hvr-c-c  { color: #c17d11; }
:hover.hvr-c-cb { color: #e9b96e; }
:hover.hvr-c-cd { color: #8f5902; }
:hover.hvr-c-r  { color: #cc0000; }
:hover.hvr-c-rb { color: #ef2929; }
:hover.hvr-c-rd { color: #a40000; }
:hover.hvr-c-w  { color: #d3d7cf; }
:hover.hvr-c-wb { color: #eeeeec; }
:hover.hvr-c-wd { color: #babdb6; }
:hover.hvr-c-k  { color: #555753; }
:hover.hvr-c-kb { color: #888a85; }
:hover.hvr-c-kd { color: #2e3436; }

:hover.hvr-bc-y  { border-color: #edd400; }
:hover.hvr-bc-yb { border-color: #fce94f; }
:hover.hvr-bc-yd { border-color: #c4a000; }
:hover.hvr-bc-g  { border-color: #73d216; }
:hover.hvr-bc-gb { border-color: #8ae234; }
:hover.hvr-bc-gd { border-color: #4e9a06; }
:hover.hvr-bc-o  { border-color: #f57900; }
:hover.hvr-bc-ob { border-color: #fcaf3e; }
:hover.hvr-bc-od { border-color: #ce5c00; }
:hover.hvr-bc-b  { border-color: #3465a4; }
:hover.hvr-bc-bb { border-color: #729fcf; }
:hover.hvr-bc-bd { border-color: #204a87; }
:hover.hvr-bc-p  { border-color: #75507b; }
:hover.hvr-bc-pb { border-color: #ad7fa8; }
:hover.hvr-bc-pd { border-color: #5c3566; }
:hover.hvr-bc-c  { border-color: #c17d11; }
:hover.hvr-bc-cb { border-color: #e9b96e; }
:hover.hvr-bc-cd { border-color: #8f5902; }
:hover.hvr-bc-r  { border-color: #cc0000; }
:hover.hvr-bc-rb { border-color: #ef2929; }
:hover.hvr-bc-rd { border-color: #a40000; }
:hover.hvr-bc-w  { border-color: #d3d7cf; }
:hover.hvr-bc-wb { border-color: #eeeeec; }
:hover.hvr-bc-wd { border-color: #babdb6; }
:hover.hvr-bc-k  { border-color: #555753; }
:hover.hvr-bc-kb { border-color: #888a85; }
:hover.hvr-bc-kd { border-color: #2e3436; }