<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="fonts/fonts.css" />
    <link rel="stylesheet" href="styles/colors.css" />
    <link rel="stylesheet" href="styles/spaces.css" />
    <link rel="stylesheet" href="styles/alignment.css" />
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <div class="px32 w32 h32 bg-w">
        <header class="px32-header h6 pl1 bb1 bg-p bc-pd c-yb">
            32px.net
        </header>