<!DOCTYPE html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="fonts/fonts.css" />

    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/colors.css" />
    <link rel="stylesheet" href="styles/spaces.css" />
    <link rel="stylesheet" href="styles/alignment.css" />
    <link rel="stylesheet" href="styles/text.css" />

    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <div id="main" class="px32 w32 h32 bg-w">
        <a href="gallery.html" href="/gallery.html">
            <img class="img" src="images/%IMG%.png" />
        </a>
    </div>
</div>